* {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html, body {
  height: 100%;
}

body {
  background: #159fc1 linear-gradient(#159fc1, #05588c) fixed;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear-fix {
  clear: both;
}

#wrapper {
  height: 100%;
  min-height: 100%;
  width: 840px;
  max-width: 70%;
  margin: 0 auto;
  /*background: red;*/
  position: relative;
}

#fish {
  max-height: 90%;
  width: auto;
  margin-top: 15%;
  max-width: 100%;
  position: relative;
  /*top: 50%;
  transition: translate(-50%, -50%);*/
}

aside {
  width: 20%;
  height: 100%;
  position: relative;
  /*background: black;*/
}

main {
  height: 100%;
  width: 78%;
  background: #EFEFEF;
  margin-left: 2%;
  padding: 5%;
}

main h1 {
  text-align: right;
}

h1, h2, p, #wrapper li {
  font-family: Garamond, serif;
}

#wrapper li {
  list-style: none;
}

#store-data li {
  font-family: 'Gill Sans', sans-serif;
}
