* {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html, body {
  height: 100%;
}

body {
  background: #DCB46D linear-gradient(#DCB46D, #BD5E39) fixed;
}

.right {
  float: right;
}

.left {
  float: left;
}

#wrapper {
  min-height: 100%;
  width: 840px;
  max-width: 70%;
  margin: 0 auto;
  background: #EFEFEF;
  position: relative;
}

#fish {
  height: 90%;
  width: auto;
  position: absolute;
  left: -14%;
  top: 5%;
  z-index: 100;
}

main {
  width: 90%;
  margin-left: 10%;
}

main h1 {
  text-align: right;
}

h1, h2, p {
  font-family: serif;
}

#store-data li {
  font-family: sans-serif;
}
